*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width:37.5rem){ 
     .parrafo{
        align-self: flex-start;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 152%;
    text-align: left;
    max-width: 80%;
     }
}

@media screen and (max-width:136.6rem){ 
    
}

@media screen and (max-width:192rem){ 
    
}