*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

section{
    max-width: 38.5rem;
    height: auto;
    margin: auto;
    padding: 6rem 4rem;

    display: flex;
    flex-direction: column;
}